.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

#writing{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
}
div.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 45px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0,0,0,.8);
  border: 2px solid black;
  pointer-events: none;
}
/* Include any custom CSS styling here! */
